{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tac-Toe</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div id="header-bar">
        <h1>NBA Tac-Toe</h1>
    </div>
    <div>
        <h2>Welcome! Click the button below to start a game:</h2>
        <a class="home-page-button" href='/game/'>New Game</a>
    </div>
</body>
</html>